$aqua:#07636e;

@mixin margenes($top, $bottom){
    margin-top:$top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color:$aqua;
    color: black;
    @include margenes(50px, 0px);
  }
  
  h1 {
    color: white (5, 1, 1);
  
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  footer {
    padding:10px 10px 0 10px;
    background-color:$aqua;
    margin-bottom: 0px;
    margin-top: 10px;}
    
   
  .card-hotel {
    flex:1 200px;
    margin-top: 10px;
   }

 
  .btn-reserva {
    width: 100% ;
    border-radius:0px;
  }

  .footer-adress-icon{
  padding-right:10px;
  }
  .tab-content{
    padding-top: 10px;
   }