
.jumbotron {
  background-color:#07636e;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
h1 {
  color: white 5, 1, 1;
}
p {
  font-family: verdana;
  font-size: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color:#07636e;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
